[submodule "source/lib/pace"]
	path = source/lib/pace
	url = https://github.com/theme-next/theme-next-pace
[submodule "source/lib/fastclick"]
	path = source/lib/fastclick
	url = https://github.com/theme-next/theme-next-fastclick
[submodule "source/lib/jquery_lazyload"]
	path = source/lib/jquery_lazyload
	url = https://github.com/theme-next/theme-next-jquery-lazyload
[submodule "source/lib/canvas-nest"]
	path = source/lib/canvas-nest
	url = https://github.com/theme-next/theme-next-canvas-nest
[submodule "source/lib/three"]
	path = source/lib/three
	url = https://github.com/theme-next/theme-next-three
[submodule "source/lib/canvas-ribbon"]
	path = source/lib/canvas-ribbon
	url = https://github.com/theme-next/theme-next-canvas-ribbon
[submodule "source/lib/Han"]
	path = source/lib/Han
	url = https://github.com/theme-next/theme-next-han
[submodule "source/lib/needsharebutton"]
	path = source/lib/needsharebutton
	url = https://github.com/theme-next/theme-next-needmoreshare2
[submodule "source/lib/algolia-instant-search"]
	path = source/lib/algolia-instant-search
	url = https://github.com/theme-next/theme-next-algolia-instant-search
[submodule "source/lib/reading_progress"]
	path = source/lib/reading_progress
	url = https://github.com/theme-next/theme-next-reading-progress
[submodule "source/lib/fancybox"]
	path = source/lib/fancybox
	url = https://github.com/theme-next/theme-next-fancybox
